<div>
    <app-edit-todo [todo]="newTodo" (saveClicked)="addTodo()"></app-edit-todo>
    <ul class="todo-filter-list">
      <li>
        <app-filter-link
          displayName="All"
          [isSelected]="isFilterSelected('all')"
          (filterSelected)="applyFilter('all')">
        </app-filter-link>
      </li>
      <li>
        <app-filter-link
          displayName="Open"
          [isSelected]="isFilterSelected('open')"
          (filterSelected)="applyFilter('open')">
        </app-filter-link>
      </li>
      <li>
        <app-filter-link
          displayName="Completed"
          [isSelected]="isFilterSelected('completed')"
          (filterSelected)="applyFilter('completed')">
        </app-filter-link>
      </li>
    </ul>
    <app-todo-list [todos]="visibleTodos | async" (todoClicked)="toggleTodo($event)"></app-todo-list>
</div>