<div>
    <form>
      <input [(ngModel)]="newTodo.text" name="todoText" />
      <button type="submit" (click)="addTodo()">Add</button>
    </form>
    <ul>
      <li>
        <div>
            <span *ngIf="isFilterSelected('all')">All</span>
            <span *ngIf="!isFilterSelected('all')">
                <a href (click)="$event.preventDefault(); applyFilter('all')">All</a>
            </span>
        </div>
      </li>
      <li>
        <div>
            <span *ngIf="isFilterSelected('open')">Open</span>
            <span *ngIf="!isFilterSelected('open')">
                <a href (click)="$event.preventDefault(); applyFilter('open')">Open</a>
            </span>
        </div>
      </li>
      <li>
        <div>
            <span *ngIf="isFilterSelected('completed')">Completed</span>
            <span *ngIf="!isFilterSelected('completed')">
                <a href (click)="$event.preventDefault(); applyFilter('completed')">Completed</a>
            </span>
        </div>
      </li>
    </ul>
    <ul>
      <li *ngFor="let todo of visibleTodos | async">
        <span (click)="toggleTodo(todo.id)" [style.text-decoration]="getTodoTextDecoration(todo)">{{todo.text}}</span>
      </li>
    </ul>
</div>